body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'TitleFont';
  src: local('TitleFont'), url(./assets/fonts/ParkLaneNF.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.vertical-navbar {
  /* Styles for the main container (position, height, width) */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Full viewport height */
  width: 120px; /* Adjust width as needed */
  align-items:first baseline;
}

.nav-links {
  /* Styles for the navigation link container */
  display: flex;
  flex-direction: column; /* Stack links vertically */
  list-style: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.nav-link {
  /* Styles for individual navigation links */
  padding-top: 5px; /* Adjust padding as needed */
  padding-bottom: 5px;
  margin: 0;
  text-decoration: none; /* Remove underline */
  color: #333; /* Link text color */
  /* Add hover styles for interactivity */
}

.full-screen-background {
  background-image: url('./assets/img/bg_pic.png');
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-repeat: repeat;
  background-position: center;
  background-size:cover;
}

.title {
  font-family: TitleFont;
}

.header {
  margin-top: 450px;
}

@media (max-width: 768px) {

.vertical-navbar {
  width: 85px;
}

.header {
  margin-top: 220px;
}


}